
html, body, #root {
  height: 100%;
  margin: 0;
}
.pixel-bg {
  background-image: url('./assets/cfdd8679-0262-4dc7-bef9-d142ae884238.jpg');
  background-size: cover; /* or 'repeat' for tiled effect */
  background-repeat: repeat;
  height: 100%;
}

body {
  font-family: 'Patrick Hand', cursive;
}

